body {
    background-color: rgb(242, 249, 254);
    box-sizing: border-box;
    display: block;
    font-family: poppins, sans-serif;
    line-height: 26px;
    margin-block-end: 0px;
    margin: 8px 8px 0px 8px;
    min-height: 610px;
    text-size-adjust: 100%;

}

.container {
    box-sizing: border-box;
    display: block;
    font-family: poppins, sans-serif;
    line-height: 24px;
    margin: 0px 0px 0px 0px;
    max-width: 1420px;
    padding: 0px 32px 0px 32px;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    font-family: Poppins, sans-serif;
    height: 80px;
    line-height: 30px;
    padding: 16px 0 16px 0;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    width: 100%;

}

@media (max-width:1000px) {


    .hamburger {


        align-items: center;
        width: 40px;
        height: 5px;
        background-color: black;
        padding: 1px 6px 1px 6px;


        appearance: auto;

        background-attachment: scroll;
        background-clip: border-box;
        background-color: rgb(242, 249, 254);
        background-image: none;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
        border-bottom-color: rgb(0, 0, 0);
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-width: 1px;
        border-image-width: 1;
        border-left-color: rgb(0, 0, 0);
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: rgb(0, 0, 0);
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: rgb(0, 0, 0);
        border-top-style: none;
        border-top-width: 0px;
        box-sizing: border-box;
        color: rgb(0, 0, 0);
        cursor: default;
        display: block;
        font-family: poppins, sans-serif;
        font-feature-settings: normal;
        font-kerning: auto;
        font-optical-sizing: auto;
        font-size: 33px;
        font-stretch: 100%;
        font-style: normal;
        font-variant-alternates: normal;
        font-variant-caps: normal;
        font-variant-east-asian: normal;
        font-variant-ligatures: normal;
        font-variant-numeric: normal;
        font-variant-position: normal;
        font-variation-settings: normal;
        font-weight: 400;
        height: 40px;
        letter-spacing: normal;
        line-height: 24px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        padding-block-end: 1px;
        padding-block-start: 1px;
        padding-inline-end: 6px;
        padding-inline-start: 6px;
        position: absolute;
        text-align: center;
        text-indent: 0px;
        text-rendering: auto;
        text-shadow: none;
        text-size-adjust: 100%;
        text-transform: none;
        width: px;
        word-spacing: 0px;
        z-index: auto;
    }

    .fa-solidfa-bars line {

        align-content: flex-end;
        box-sizing: border-box;
        color: rgb(0, 0, 0);
        cursor: default;
        display: inline-block;
        font-family: "Font Awesome 6 Free";
        font-feature-settings: normal;
        font-kerning: auto;
        font-optical-sizing: auto;
        font-size: 30px;
        font-stretch: 100%;
        font-style: normal;
        font-variant-alternates: normal;
        font-variant-caps: normal;
        font-variant-east-asian: normal;
        font-variant-ligatures: normal;
        font-variant-numeric: normal;
        font-variant-position: normal;
        font-variation-settings: normal;
        font-weight: 900;
        height: 30px;
        letter-spacing: normal;
        line-height: 32px;
        text-align: center;
        text-indent: 0px;
        text-rendering: auto;
        text-shadow: none;
        text-size-adjust: 100%;
        text-transform: none;
        width: 27px;
        word-spacing: 0px;
        -webkit-font-smoothing: antialiased;
    }

    .logo {
        margin: 0 0 0 120px;

        height: 34px;
        width: 200px;
        display: block;
        box-sizing: border-box;
        font-family: poppins, sans-serif;
        line-height: 24px;
        max-width: 100%;
        overflow-clip-margin: content-box;
        overflow-y: clip;
        overflow-x: clip;
        text-size-adjust: 100%;
    }

    .links {
        display: none;
    }

    .nav-links {
        display: none;
    }
}

@media (min-width:1000px) {
    .hamburger {
        display: none;
    }

    .nav-links {
        box-sizing: border-box;
        justify-content: end;
        display: block;
        font-family: Poppins, sans-serif;

        line-height: 24px;
        text-size-adjust: 100%;
        unicode-bidi: isolate;
    }

    .links {
        display: flex;

        box-sizing: border-box;
        column-gap: 64px;
        font-family: poppins, sans-serif;
        justify-content: space-between;
        line-height: 24px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        margin-block-end: 16px;
        margin-block-start: 16px;
        margin-inline-end: 0px;
        margin-inline-start: 0px;
        -webkit-padding-start: 40px;
        row-gap: 64px;
        text-size-adjust: 100%;
        unicode-bidi: isolate;
        margin: 0px 0px 0px;

    }

    .nav-links {

        justify-content: space-between;
        box-sizing: border-box;
        color: rgb(7, 7, 7);
        cursor: pointer;
        display: inline;
        font-family: Poppins, sans-serif;
        font-size: 21px;
        font-weight: 500;
        height: auto;
        line-height: 30px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        text-align: left;
        text-decoration-color: rgb(0, 0, 0);
        text-decoration-line: none;
        text-decoration-skip-ink: auto;
        text-decoration-style: solid;
        text-decoration-thickness: auto;
        text-size-adjust: 100%;

        transition-delay: 0s;
        transition-duration: 0.3s;
        transition-property: color;
        transition-timing-function: ease-in-out;
        width: auto;

    }

}

.logo {

    height: 35px;
    width: 200px;
    display: block;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    line-height: 24px;
    max-width: 100%;
    overflow-clip-margin: content-box;
    overflow-y: clip;
    overflow-x: clip;
    text-size-adjust: 100%;
}